{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<center>
			<br><br><br><br>
			<h1>Bienvenue sur Localux, l'expert en location de voiture de luxe.</h1>
			<br><br>
			<img src="{{asset('images/localux1.png')}}" class="img-thumbnail" width="1004" height="936">
		</center>
	</div>
{% endblock %}
